.chat-container {
    background-color: #2a2f32;
    padding: 50px;
    padding-bottom: 25px;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 85vh;
}
